<form id="dialog_<?!= data.id ?>">
  <div><?!= data.message ?></div>
  <div class="bottom-right">
    <? for (const button of data.buttons) { ?>
    <button
      class="<?= button.class ?>"
      name="response"
      type="submit"
      value="<?= button.value ?>"
    >
      <?!= button.name ?>
    </button>
    <? } ?>
  </div>
</form>
<? if (data.script) { ?>
<script>
  <? if (data.functionName) { ?>
  function handleResponse_<?!= data.id ?>(response) {
      if (!response) {
          google.script.host.close();
      } else if (typeof response == 'string') {
          g.HtmlService.replaceContent(html);
      } else if ('callback' in response) {
          const args = callback.args || [];
          window[callback.functionName](...args);
      }
  }
  <? } ?>

  function handleSubmit_<?!= data.id ?>(e) {
      if (e.preventDefault) {
          e.preventDefault();
      }
      for (const button of document.querySelectorAll('#dialog_<?!= data.id ?> button')) {
          button.disabled = true;
      }
      <? if (data.functionName) { ?>
          google.script.run
          .withSuccessHandler(handleResponse_<?!= data.id ?>)
          .<?!= data.functionName ?>(e.submitter.value);
      <? } else if (data.handler) { ?>
          <?!= data.handler ?>(e.submitter.value);
      <? } ?>
      return false;
  }

  document.getElementById('dialog_<?!= data.id ?>').addEventListener( 'submit', handleSubmit_<?!= data.id ?>);
</script>
<? } ?>
